.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-block-start: 4rem;
    transition: all 300ms ease;
}

.logo{
    display: flex;
    block-size: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    block-size: 4rem ;
}

.logo>img{
    inline-size: 3rem;
    block-size: 3rem;
}

.logo>span>span{
    color: var(--pink)
}
/* menu */

.menu{
    margin-block-start: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.menuItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    block-size: 2.5rem;
    margin-inline-start: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
}

.menuItem:hover{
    cursor: pointer;
}

.active{
    background: var(--activeItem);
    margin-inline-start: 0;
}

.active::before{
    content: '';
    inline-size: 8px;
    block-size: 100%;
    background: var(--pink);
   
}



